<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tolan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToLan.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity"
            android:exported="false" />
        <activity
            android:name=".ActivityHomeUser"
            android:exported="false" />
        <activity
            android:name=".ActivityEstudents"
            android:exported="false" />
        <activity
            android:name=".activity_group_admin"
            android:exported="false" />
        <activity
            android:name=".ActivitySuccessfull"
            android:exported="false" />
        <activity
            android:name=".MoreInfoMultimedia"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuDocente"
            android:exported="false" />
        <activity
            android:name=".ActivityContact"
            android:exported="false" />
        <activity
            android:name=".ActivityAddSkin"
            android:exported="false" />
        <activity
            android:name=".ActivitySkin"
            android:exported="false" />
        <activity
            android:name=".ActivityAddLevel"
            android:exported="false" />
        <activity
            android:name=".ActivityLevel"
            android:exported="false" />
        <activity
            android:name=".ActivityMenuAdmin"
            android:exported="false" />
        <activity
            android:name=".ActivityChooseVideo"
            android:exported="false" />
        <activity
            android:name=".Multimedia_TxtActivity"
            android:exported="false" />
        <activity
            android:name=".Multimedia_ImagActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySublevel"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>